<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li *ngFor="let item of items">

            <a routerLink="{{item.routerLink}}"> {{item.label}}  <span class="material-icons md-36">{{item.icon}}</span></a>
           
        </li>
        
    
      </ul>
    </div>
  </nav>
        