<div class="container">


    <p>AQUI VAN LOS PRODUCTOS</p>


    <!-- SIMULANDO CLICK EN COMPRAR-->
    <a class="waves-effect waves-light btn" (click)="showDetailProduct(2)"  >ESTE ES UN PRODUCTO (BOTON COMPRA)</a>
    

</div>
